<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me | Portafolio</title>
    <link rel="icon" href="../img/icons/js.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<body>
    <header class="header">
        <section class="header__contenedor">
            <div class="boton__responsivo">
                <div class="boton__contenedor">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <nav class="header__navegacion">
                <a href="../index.html">Home</a>
                <a href="about.html">About Me</a>
                <a href="projects.html">Projects</a>
                <a href="github.html">Github Profile</a>
                <a href="contact.html">Contact</a>
            </nav>
            <div class="header__informacion contenedor">
                <div>
                    <h1>Cristian Camilo Pereira Florez <span>Portafolio</span></h1>
                    <p>Desarrollador web junior</p>
                </div>

            </div>
        </section>
    </header>
    <main>
        <section class="principal">
            <div class="principal__lenguajes">
                <h2>Skills</h2>
                <div class="contenedor">
                    <img class="img" src="../img/icons/html.svg" alt="Icono de html">
                    <img class="img" src="../img/icons/css.svg" alt="Icono de css">
                    <img class="img" src="../img/icons/bootstrap.svg" alt="Icono de bootstrap">
                    <img class="img" src="../img/icons/js.svg" alt="Icono de js">
                    <img class="img" src="../img/icons/react.svg" alt="Icono de react">
                    <img class="img" src="../img/icons/php.svg" alt="Icono de php">
                    <img class="img" src="../img/icons/sql.svg" alt="Icono de sql">
                    <img class="img" src="../img/icons/github-.svg" alt="Icono de github">
                    <img class="img" src="../img/icons/git.svg" alt="Icono de git">
                    <img class="img" src="../img/icons/photoshop.svg" alt="Icono de photoshop">
                </div>
            </div>

            <div class="principal__informacion">
                <h2>About Me</h2>
                <div class="principal__informe contenedor">
                    <div>
                        <img class="img" src="../img/about.jpeg" alt="Imagen de apoyo de quien soy">
                    </div>
                    <div class="principal__parrafo">
                        <p>
                            <strong>¡Hola, soy Cristian!</strong><br>
                            Desarrollador web junior (técnico auxiliar); tengo 18 años, estudié media técnica en
                            desarrollo de software con el Politécnico Colombiano Jaime Isaza Cadavid. Soy responsable,
                            cumplido, puntual, eficiente, me adapto con facilidad y me considero una persona seria.
                            Tengo habilidades en lenguajes de programación como: JavaScript, Java. Además de lenguajes
                            de maquetación como: HTML y CSS. También manejo Librerías como: SASS, JQUERY y REACT JS.
                            Actualmente estoy estudiando Desarrollo Full Stack y una de mis fortalezas en el FRONT-END.
                            <br>
                            <br>
                            He tomado la decisión de reorientar mi carrera profesional con el animo de continuar
                            aprendiendo y, también, aportar toda mi experiencia adquirida. Considero que el cambio es un
                            signo de capacidad de superación y, por ello, creo que seria capaz de aportar valor al lugar
                            donde me desempeñe.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <p>Todos los derechos reservados &copy;. Cristian Camilo Pereira Florez</p>
    </footer>

    <script src="../js/main.js"></script>
</body>

</html>