<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | Portafolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<body>
    <header class="header">
        <section class="header__contenedor">
            <nav class="header__navegacion">
                <a href="../index.html">Home</a>
                <a href="about.html">About Me</a>
                <a href="projets.html">Projets</a>
                <a href="github.html">Github Profile</a>
                <a href="contact.html">Contact</a>
            </nav>
            <div class="header__informacion contenedor">
                <div>
                    <h1>Cristian Camilo Pereira Florez <span>Portafolio</span></h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, qui?</p>
                </div>

            </div>
        </section>
    </header>
    <main>
        <section class="contacto">
            <div class="mapouter">
                <div class="gmap_canvas"><iframe id="gmap_canvas"
                        src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                        href="https://www.whatismyip-address.com/divi-discount/"></a><br>
                </div>
            </div>
            <div class="contacto__contecnedor">
                <h2>Contact</h2>
                <form class="formulario">
                    <input class="formulario__input" type="text" placeholder="Name">
                    <input class="formulario__input" type="email" placeholder="Email">
                    <textarea placeholder="Mensaje" class="formulario__input" id="textarea"></textarea>
                    <a href="" class="btn btn--formulario">Enviar</a>
                </form>
            </div>
        </section>
    </main>


    <footer class="footer">
        <p>Todos los derechos reservados &copy;. Cristian Camilo Pereira Florez</p>
    </footer>
</body>

</html