<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Profile | Portafolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<body>
    <header class="header">
        <section class="header__contenedor">
            <div class="boton__responsivo">
                <div class="boton__contenedor">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <nav class="header__navegacion">
                <a href="../index.html">Home</a>
                <a href="about.html">About Me</a>
                <a href="projects.html">Projects</a>
                <a href="github.html">Github Profile</a>
                <a href="contact.html">Contact</a>
            </nav>
            <div class="header__informacion contenedor">
                <div>
                    <h1>Cristian Camilo Pereira Florez <span>Portafolio</span></h1>
                    <p>Desarrollador web junior</p>
                </div>
            </div>
        </section>
    </header>
    <main>
        <section class="contenedor">
            <div class="perfil">
                <img id="perfil" alt="imagen principal de github">
                <div class="perfil__informacion">
                    <h2 id="name"></h2>
                    <p id="subName"></p>
                </div>
            </div>
        </section>
        <p id="num"></p>

        Esta pagina Esta en progreso al momento de llegar al apartado de JavaScript se realizará de nuevo
    </main>

    <footer class="footer">
        <p>Todos los derechos reservados &copy;. Cristian Camilo Pereira Florez</p>
    </footer>

    <script src="../js/main.js"></script>
</body>

</html>