<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projects | Portafolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<body>
    <header class="header">
        <section class="header__contenedor">
            <div class="boton__responsivo">
                <div class="boton__contenedor">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <nav class="header__navegacion">
                <a href="../index.html">Home</a>
                <a href="about.html">About Me</a>
                <a href="projects.html">Projects</a>
                <a href="github.html">Github Profile</a>
                <a href="contact.html">Contact</a>
            </nav>
            <div class="header__informacion contenedor">
                <div>
                    <h1>Cristian Camilo Pereira Florez <span>Portafolio</span></h1>
                    <p>Desarrollador web junior</p>
                </div>

            </div>
        </section>
    </header>
    <main>
        <section class="proyectos">
            <h2>projects</h2>
            <div class="proyectos__contenedor">
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Equipo-3_GGM_PPI2020</h3>
                        <p>Proyecto Estudiantil Creado Con React Js</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Aprende-Y-Juega</h3>
                        <p>La Primera Pagina Web Que Realicé, Proyecto Estudiantil</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Agregar_Lista</h3>
                        <p>Un proyecto personal Hecho con JavaScript</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Portafolio-Pereira</h3>
                        <p>Un Proyecto de estudios en el cual realizo mi portafolio</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Agregar_Lista</h3>
                        <p>Un proyecto personal Hecho con JavaScript</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Equipo-3_GGM_PPI2020</h3>
                        <p>Proyecto Estudiantil Creado Con React Js</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Portafolio-Pereira</h3>
                        <p>Un Proyecto de estudios en el cual realizo mi portafolio</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Aprende-Y-Juega</h3>
                        <p>La Primera Pagina Web Que Realicé, Proyecto Estudiantil</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Equipo-3_GGM_PPI2020</h3>
                        <p>Proyecto Estudiantil Creado Con React Js</p>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer class="footer">
        <p>Todos los derechos reservados &copy;. Cristian Camilo Pereira Florez</p>
    </footer>


    <script src="../js/main.js"></script>
</body>
</html>