<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projets | Portafolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<body>
    <header class="header">
        <section class="header__contenedor">
            <nav class="header__navegacion">
                <a href="../index.html">Home</a>
                <a href="about.html">About Me</a>
                <a href="projets.html">Projets</a>
                <a href="github.html">Github Profile</a>
                <a href="contact.html">Contact</a>
            </nav>
            <div class="header__informacion contenedor">
                <div>
                    <h1>Cristian Camilo Pereira Florez <span>Portafolio</span></h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, qui?</p>
                </div>

            </div>
        </section>
    </header>
    <main>
        <section class="proyectos">
            <h2>Projets</h2>
            <div class="proyectos__contenedor">
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Titulo Del proyecto</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Titulo Del proyecto</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Titulo Del proyecto</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Titulo Del proyecto</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Titulo Del proyecto</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Titulo Del proyecto</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Titulo Del proyecto</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Titulo Del proyecto</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Titulo Del proyecto</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Titulo Del proyecto</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Titulo Del proyecto</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img class="img" src="../img/proyecto01.jpg" alt=" Imagen del proyecto">
                    <div class="proyecto__cuerpo">
                        <h3>Titulo Del proyecto</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer class="footer">
        <p>Todos los derechos reservados &copy;. Cristian Camilo Pereira Florez</p>
    </footer>
</body>
</html>