@import "variables";

.contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 5rem;
    gap: 2rem;
    align-items: center;

    @media (max-width: 768px) {
        &{
            grid-template-columns: 1fr;
            padding: 2rem;
        }
    }

    .formulario {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        margin: 1rem;
        background-image: url(../img/banner-principal.jpg);
        border-radius: .5rem;
        backdrop-filter: blur(1rem);

        &__input {
            padding: 1rem;
            width: 100%;
            border-radius: .5rem;
            border: none;
            background-color: rgba(255, 255, 255, .5);
        }
        &__input::placeholder {
            color: var(--negro);
        }
        &__input:focus {
            background-color: rgba(255, 255, 255, .8);
        }
    }
    #textarea {
        max-width: 45vw;
        min-width: 45vw;
        max-height: 30rem;
        min-height: 30rem;
    }
    
    @media (max-width: 768px) {
        #textarea {
            min-width: 100%;
        }
    }
    .mapouter {
        height: 100%;
        width: 100%;
    }
    .btn--formulario {
        text-align: center;
    }
    .gmap_canvas,
    #gmap_canvas {
        width: 100%;
        height: 100%;
    }
}







